
$main-font: 'Amaranth', sans-serif;

$main-blue: #2387AA;
$main-red: rgb(155, 46, 46);
$main-white: #eeeeee;
$text-color: #2E3639;

$main-logo-text: 3rem;
$logo-text-color: rgb(43, 42, 42);
$nav-text: 1.2rem;
$nav-text-color: rgb(219, 218, 218);
