body {
  width: 100%;
  margin: 0;
  font-family: "Amaranth", sans-serif; }

h1, h2 {
  font-weight: 400; }

p {
  font-weight: 200;
  color: #2E3639; }

li {
  list-style: none; }

a {
  text-decoration: none; }

nav {
  margin: 0;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  font-size: 1.2rem;
  color: #dbdada;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }

.main-logo {
  width: 50%; }
  .main-logo span {
    color: #2387AA;
    font-size: 3rem; }

.nav-links {
  width: 30%;
  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
  margin: 0; }
  .nav-links li a {
    margin: 0;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    color: #2b2a2a; }

.social-media {
  width: 20%;
  display: flex;
  flex: row;
  justify-content: space-around;
  align-items: center; }

.social-media-icon {
  width: 2rem;
  padding-left: 1.5rem; }

main {
  margin: 0 0 0 5%;
  width: 90%; }

.page-title h1 {
  margin: 0; }

.order-now {
  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: flex-start; }

.menu-items {
  width: 50%; }

.order-list {
  width: 50%; }

.cart-title {
  width: 100%;
  background-color: #9b2e2e;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  color: whitesmoke; }

.list-item {
  display: flex;
  flex: row;
  justify-content: space-evenly;
  align-items: center; }

.cart-preview {
  display: flex;
  flex: row;
  justify-content: flex-end;
  align-items: center; }

.cart-bubble {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  border-radius: 50%;
  background-color: #9b2e2e; }

.cart-counter {
  width: 90%;
  text-align: center;
  color: #eeeeee; }
